POSTGRES_DB=mydatabase
POSTGRES_USER=mydatabaseuser
POSTGRES_PASSWORD=mypassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

#-----DJANGO-----
SECRET_KEY=DjangoSecretKey
ALLOWED_HOSTS=you_host
CSRF_TRUSTED_ORIGINS=you_host

#Telegramm Bot Data
TELEGRAM_BOT_TOKEN=YOR_TELEGRAM_BOT_TOKEN

# Celery
CELERY_BROKER_URL=YOUR_RADIS_BACKEND
CELERY_RESULT_BACKEND=YOUR_RADIS_BACKEND

#-----DOCKER-----
DOCKER_HUB_USERNAME=your_docker_user_name
DOCKER_IMAGE_TAG=latest