DATABASE_NAME=mydatabase
DATABASE_USER=mydatabaseuser
DATABASE_PASSWORD=mypassword
DATABASE_HOST=localhost
DATABASE_PORT=5432

SECRET_KEY=DjangoSecretKey

#Telegramm Bot Data
TELEGRAM_BOT_TOKEN=YOR_TELEGRAM_BOT_TOKEN

# Celery
CELERY_BROKER_URL=YOUR_RADIS_BACKEND
CELERY_RESULT_BACKEND=YOUR_RADIS_BACKEND